.error_info {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  font-size: 25px;
  font-weight: 500;
}

.error_btn {
  position: absolute;
  top: 120px;
  right: 20px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  background-color: rgb(253, 128, 197);
  border: none;
  border-radius: 45px;
  padding: 5px 7px;
  transition: all 350ms;
}

.error_btn:hover {
  transition: all 0.5s;
  box-shadow: rgba(170, 44, 187, 0.35) 0 -25px 18px -14px inset;
  transform: scale(1.03);
}
